<%- include("../partials/header", {title: "Detail article", style:"postDetail"}) %>


<% if(locals.post){%>

    <div class="post">
        <h3><%= post.title %> Auteur : <%= post.user.username %>  </h3>
        <p> <%= post.content%></p>
    </div>

<% }%>


<%- include("../partials/footer") %>

